.app-ui-icon {
  @apply w-10 h-10 block;
  color: inherit;

  [disabled] & {
    opacity: 0.5;

    &:hover, &:focus-visible {
      /* FIXME: shouldn't require important */
      color: inherit !important;
    }
  }
}

