.gifting-preference-grid {
  @apply grid grid-cols-1 sm:gap-y-3 mt-1 text-xl;
}

.gifting-gifts-grid {
  @apply gap-2 items-center mt-1 mb-4 grid grid-cols-2 ;
  
  .app-inline-minimal-item {
    @apply text-black;
  }
  
  span {
    @apply text-black;
  }
}


@screen sm {
  .gifting-preference-grid {
    grid-template-columns: min-content 1fr;
  }

  .gifting-gifts-grid {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}
