.birthday-npc-image.app-item-icon > img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
  object-position: center bottom;
}

.birthday-gift-icon.app-item-icon > img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
  object-position: center;
}

// Fix white text color in birthday gift select dropdown
:host ::ng-deep .semi-transparent-form-field {
  .mat-mdc-select-value {
    color: black !important;
  }
  
  .mat-mdc-select-value-text {
    color: black !important;
  }
}
