.mat-mdc-form-field .mat-mdc-form-field-infix {
  width: var(--mat-form-field-infix-width, 180px);
  --mat-form-field-filled-with-label-container-padding-top: 0;
  --mat-form-field-filled-with-label-container-padding-bottom: 0;
  --mat-form-field-container-height: 24px;
  --mat-form-field-container-vertical-padding: 0;
}

.semi-transparent-form-field {
  --mat-form-field-container-height: 100%;

  .mdc-text-field--filled .mdc-floating-label--float-above {
    transform: translateY(-150%) scale(0.85);
  }

  .mdc-text-field {
    overflow: unset;
    padding: 0;
  }

  .mat-mdc-form-field-flex {
    @apply px-4 py-2 text-white;
    background: rgba(255, 255, 255, 0.3);
    border: 2px solid rgba(255, 255, 255, 0.3);
    font-weight: 600;
    border-radius: 15px;
  }

  // Override text-white for mat-select value text to ensure readability
  .mat-mdc-select-value,
  .mat-mdc-select-value-text {
    color: black !important;
  }

  .mdc-floating-label mat-label {
    background: #f7f2e800;
    transition: all 150ms linear;
  }

  .mdc-floating-label--float-above mat-label {
    background: #f7f2e8;
    padding: 0 4px;
    color: #000;
    border-radius: 3px;
    display: block;
  }

  &.mat-form-field-appearance-fill .mat-mdc-select-arrow-wrapper {
    transform: unset;
  }

  &.semi-transparent-form-field-dark {
    .mat-mdc-form-field-flex {
      @apply px-4 py-2 text-black;
      background: rgba(187, 187, 187, 0.3);
      border: 2px solid rgba(0, 0, 0, 0.3);
    }
  }
}


.mat-mdc-form-field.mat-form-field-appearance-outline {
  --mat-mdc-form-field-floating-label-scale: .9;
}

.mdc-text-field--outlined.mdc-text-field--focused .mdc-notched-outline .mat-mdc-notch-piece,
.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field .mdc-notched-outline__notch,
.mdc-text-field--outlined .mat-mdc-notch-piece {
  border: none;
}

// TODO BROTHER WHAT ARE THOSE
body .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mdc-notched-outline--upgraded .mdc-floating-label--float-above {
  --mat-mdc-form-field-label-transform: translateY(calc(calc(17.75px + var(--mat-form-field-container-height, 56px) / 2) * -1)) scale(var(--mat-mdc-form-field-floating-label-scale, 1.75));
}

body .mdc-text-field--outlined .mdc-floating-label {
  left: 13px;
}

body .mdc-notched-outline--upgraded .mdc-floating-label--float-above {
  max-width: calc(150% + 1px);
}








