.mat-mdc-menu-panel {
  @apply px-4 py-2 text-white;
  border: 2px solid rgba(255, 255, 255, 0.3);
  font-weight: 600;

  border-radius: 15px !important;
  color: rgba(255 255 255 / 0.75);
  @apply backdrop-blur-xl;
  --mat-menu-container-color: rgba(0, 0, 0, 0.6);
}

.mat-mdc-menu-item {
  color: rgba(255 255 255 / 0.75) !important;

  &:hover:not([disabled]) {
    background-color: rgba(255, 255, 255, 0.1) !important;
  }

  &[disabled] {
    opacity: 0.5;
  }
}

.mat-mdc-menu-item-text{
  display: inline-flex;
  @apply gap-2;
}
