.gifting-portrait .app-item-icon > img {
  width: auto;
  height: 100%;
  aspect-ratio: unset;
}

.portrait-grid {
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

  .npc-portrait img {
    max-height: 400px
  }
}

@screen xl {
  .portrait-grid {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}
