@use 'styles/m3-theme';

@use 'styles/dialogs';
@use 'styles/tabs';
@use 'styles/grid';
@use 'styles/mixins';
@use 'styles/form-fields';
@use 'styles/buttons';
@use 'styles/mat-select';
@use 'styles/material-overrides';
@use 'styles/scrollbars';
@use '@angular/cdk/overlay-prebuilt.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'QTVagaRound';
  src: url('assets/fonts/QTVagaRound-Bold.woff2') format('woff2'),
    url('assets/fonts/QTVagaRound-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'QTVagaRound';
  src: url('assets/fonts/QTVagaRound.woff2') format('woff2'), url('assets/fonts/QTVagaRound.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

:root {
  --cg-icon-grid-min-size: 55px;
  --cg-min-header-height: 64px;
  --cg-min-footer-height: calc(56px + env(safe-area-inset-bottom));
  --cg-card-padding: 20px;
  --cg-card-radius: 30px;
  --cg-card-icon-height: 140px;
  --cg-main-space-horizontal: 0.5rem;
  --cg-main-space-vertical: 1.5rem;
  --cg-main-space-card-placeholder-width: var(--cg-main-space-horizontal);
  --mat-dialog-subhead-weight: 700;
  --mat-dialog-subhead-size: 1.5rem;
  --mat-dialog-subhead-line-height: 1.8rem;
}

html {
  @apply w-full h-full;
}

body {
  color: #5a4627;
  font-family: 'QTVagaRound', sans-serif;
  @apply min-h-full;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)) fixed, url('assets/bg.jpg') center no-repeat fixed;
  background-size: cover, cover;
}

.mdc-line-ripple {
  display: none;
}

.mdc-tooltip__surface {
  --mat-tooltip-container-color: #f7f2e8;
  --mat-tooltip-supporting-text-size: 1.25rem;
  box-shadow: 1px 1px 4px 1px rgb(0 0 0 / 20%);
}

table .mdc-data-table__header-row {
  height: 48px;
}

hr {
  border: none;
  height: 4px;
  border-radius: 2px;
  background: rgba(127, 127, 127, 0.1);
}

.drawer-close-button {
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 1;
}

.mat-sidenav.mat-drawer {
  box-shadow: none;
}

.p-main-content.remove-placeholder-padding {
  --cg-main-space-card-placeholder-width: var(--cg-main-space-horizontal);
}

@layer components {
  .btn-amber,
  .btn-danger,
  .btn-success {
    @apply disabled:pointer-events-none disabled:opacity-40  inline-flex justify-center py-2 px-4 border border-transparent shadow-sm
    font-medium rounded-md text-white focus:outline-none focus:ring-2 focus:ring-offset-2;
  }

  .btn-amber {
    @apply text-white bg-amber-700 hover:bg-amber-900  focus:ring-amber-700;
  }

  .btn-danger {
    @apply text-white bg-red-600 hover:bg-red-900  focus:ring-red-500;
  }

  .btn-success {
    @apply bg-green-700 hover:bg-green-900  focus:ring-green-500;
  }
}

@screen md {
  :root {
    --cg-min-header-height: 80px;
  }
}
@screen xl {
  :root {
    --cg-main-space-horizontal: 1.5rem;
    --cg-min-header-height: 108px;
    --cg-main-space-card-placeholder-width: calc(600px - var(--cg-main-space-vertical));
  }

  .mat-drawer-container {
    height: 100%;
  }

  .mat-drawer-inner-container {
    padding: var(--cg-main-space-vertical) var(--cg-main-space-horizontal);
  }

  .drawer-close-button {
    right: 45px;
    top: 75px;
  }
}

td.mdc-data-table__cell {
  overflow: unset;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;

  &.right {
    transform: rotate(-45deg);
  }

  &.left {
    transform: rotate(135deg);
  }

  &.up {
    transform: rotate(-135deg);
  }

  &.down {
    translate: 0 -3px;
    transform: rotate(45deg);
  }
}

.mat-mdc-option .mdc-list-item__primary-text {
  flex-grow: 1;
}

.mat-mdc-form-field.btn {
  &.mat-form-field-appearance-fill .mat-mdc-select-arrow-wrapper {
    transform: none;
  }

  .mdc-text-field--filled .mdc-floating-label--float-above {
    transform: translateY(-50%);
  }
}

.full-size-card-image {
  margin-top: calc(0px - var(--cg-card-padding));
  margin-inline: calc(0px - var(--cg-card-padding));
  border-top-left-radius: var(--cg-card-radius);
  border-top-right-radius: var(--cg-card-radius);
  overflow: hidden;

  &.image-only {
    margin-bottom: calc(0px - var(--cg-card-padding));
    border-bottom-left-radius: var(--cg-card-radius);
    border-bottom-right-radius: var(--cg-card-radius);
  }
}

.card-actions {
  @apply flex gap-6 h-8 justify-end;

  &:has(+ .full-size-card-image) {
    --blur-color: rgb(255 255 255 / 0.5);
    --blur-distance: 1px;

    filter: drop-shadow(var(--blur-distance) var(--blur-distance) 0 var(--blur-color))
      drop-shadow(calc(0px - var(--blur-distance)) calc(0px - var(--blur-distance)) 0 var(--blur-color))
      drop-shadow(calc(0px - var(--blur-distance)) var(--blur-distance) 0 var(--blur-color))
      drop-shadow(var(--blur-distance) calc(0px - var(--blur-distance)) 0 var(--blur-color));
    margin-bottom: calc(0px - var(--cg-card-padding));
  }
}

// FIXME this causes an empty row at the bottom, but display none may cause unwanted side-effect -> check
.cdk-describedby-message-container.cdk-visually-hidden {
  display: none;
}
