.npc-list-entry {
  .npc-head-portrait {
    display: flex;
    align-items: flex-end;

    img {
      object-fit: cover;
      object-position: bottom;
      border-top-left-radius: 30px;
      border-bottom-left-radius: 30px;
      height: calc(100% + 10%);
      margin-top: calc(-10% / 1.1);

    }
  }
}

.frame {
  box-shadow: inset 0 0 1px 0 #E4B383;
  transition: box-shadow .2s ease-out;
}

.npc-list-entry:hover {
  .frame {
    box-shadow: inset 0 0 1px 10px #E4B383;
  }

  .npc-head-portrait img {
    height: calc(100% + 20%);
    margin-top: calc(-20% / 1.1);
  }
}


.npc-list-grid {
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
}

.filled-heart {
  @apply !text-gifting !h-4 !w-4;
}

.empty-heart {
  @apply !text-gray-300 !h-4 !w-4;
  filter: grayscale(100%) brightness(1.2);
}
